    @keyframes chat-click {
      from {background-color: white;}
      to {background-color: rgba(211, 211, 211, 0.5);}
    }
    
    html, body {
      height: 100%;
      overflow: hidden;
      user-select: none;
    }
    
    .body {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .body::-webkit-scrollbar {
      width: 6px;
    }
    
    /* Track */
   .body::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey; 
      border-radius: 3px;
    }
     
    /* Handle */
   .body::-webkit-scrollbar-thumb {
      background: rgba(51, 102, 153, 0.4); 
      border-radius: 3px;
    }
    
    /* Handle on hover */
   .body::-webkit-scrollbar-thumb:hover {
      background: rgba(51, 102, 153, 0.7);
    }
    
    .bird {
      width: 30px;
      transform: scale(1.5);
    }
    
    .head {
      color: #003366;
    }
    
    .bar {
      background-color: #336699;
      color: white;
      padding: 2px;
      font-size: 13px;
    }
    
    .button {
      white-space: nowrap;
      background-color: #66CCCC !important;
      font-size: 13px;
    }
    
   .out {
      background-color: #FF9900 !important;
    }
    
    .please {
      color: #003366;
    }
    
    .header {
      position: fixed;
      background-color: rgba(255, 255, 255, 0.2);
      width: 100%;
      z-index: 1;
    }
    
    .content {
      margin-top: 110px;
      margin-bottom: 100px;
    }
    
    .bird-box {
      background-color: white;
    }
    
    .account {
      margin-bottom: 20px;
    }
    
    .account-title, .acc-friend {
      text-decoration: capitalize;
      color: #003366;
    }
    
    .pic-cont {
      height: 100px;
    }
    
    .account-pic {
      height: 100px;
      width: 100px;
      position: relative;
      background-color: grey;
      border: 1px solid lightgrey;
      border-radius: 50%;
    }
    
    .online {
      margin-top: 7px;
      color: grey;
    }
    
    .online-status {
      display: inline-block;
      height: 12px;
      width: 12px;
      background-color: #339966;
      border-radius: 50%;
    }
    
    .nationality, .user-about {
      padding: 7px;
      border-left: 3px solid #66CCCC;
    }
    
    .about-value {
      font-size: 15px;
    }
    
    .about-see-more, .about-see-less {
      color: blue;
      margin-left: 7px;
    }
    
    .dialog {
      background-color: rgba(211, 211, 211, 0.5);
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      display: none;
    }
    
    .change-pic-cont {
      position: relative;
    }
    
    .current-pic {
      width: 100%;
      background-color: grey;
    }
    
    .close-dialog {
      position: absolute;
      right: 20px;
      top: 20px;
      font-size: 30px;
      width: auto;
      padding: 4px 10px;
    }
    
    .follow {
      margin-top: 20px;
    }
    
    .able-btn {
      background-color: #336699 !important;
      font-size: 13px;
      color: white !important;
      position: relative;
      border: 1px solid #336699 !important;
      pointer-events: auto;
      opacity: 1;
    }
    
    .disable-btn {
      color: black !important;
      background-color: white !important;
      font-size: 13px;
      position: relative;
      border: 1px solid #336699 !important;
      pointer-events: none;
      opacity: 0.7;
    }
    
    .follow-text {
      font-size: 14px;
    }
    
    .info-icon {
      font-size: 20px;
      color: #FF9900;
      margin-right: 1px;
      position: relative;
      top: 2px;
    }
    
    .follow-loader {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    
    .user-friend {
      padding: 10px 0 10px 0;
      border-radius: 20px;
      color: white;
      font-size: 20px;
      margin-bottom: 20px;
      animation: chat-click 0.3s linear;
      animation-fill-mode: forwards;
      animation-play-state: paused;
    }
    
    .mutual-pic {
      width: 60px;
      height: 60px;
      border: 1px solid lightgrey;
      border-radius: 30px;
      background-color: grey;
    }
    
    .mutual-name {
      color: black;
    }
    
    .username {
      font-size: 15px;
    }
    
    .mutual-msg {
      font-size: 13px;
      padding-top: 5px;
      opacity: 0.7;
      display: inline-block;
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    
    .mutual-msg:first-letter {
      text-transform: uppercase;
    }
    
   .more-friend {
      background-color: rgba(51, 102, 153, 0.2);
      padding: 10px;
      border-radius: 20px;
    }
    
    .more-friend > a {
      color: black;
      font-size: 13px;
      font-weight: normal;
      text-decoration: none;
    }
    
    .more-friend.clicked {
      background-color: rgba(51, 102, 153, 0.4);
    }
    
    .follow-friend, .unfollow-friend {
      position: relative;
      font-size: 13px;
      border: 1px solid grey !important;
    }
    
    .follow-friend {
      background-color: grey !important;
      color: white !important;
    }
    
    .unfollow-friend {
      background-color: white !important;
      color: grey !important;
    }
    
    @media (min-width: 768px) { 
      .close-dialog {
        right: 50px;
      }

      .body::-webkit-scrollbar {
        width: 11px;
      }
    }
    
    @media (max-width: 576px) {
      .content {
        margin-top: 150px;
      }
    }
    
    